@font-face {
	font-family: 'chivo lightitalic';
	src: url('/fonts/Chivo-LightItalic.woff') format('woff');
}

@font-face {
	font-family: 'chivo light';
	src: url('/fonts/Chivo-Light.woff') format('woff');
}

@font-face {
	font-family: 'chivo regular';
	src: url('/fonts/Chivo-Regular.woff') format('woff');
}

@font-face {
	font-family: 'chivo bold';
	src: url('/fonts/Chivo-Bold.woff') format('woff');
}

@font-face {
	font-family: 'montserrat regular';
	src: url('/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
	font-family: 'montserrat italic';
	src: url('/fonts/Montserrat-Italic.woff') format('woff');
}

@font-face {
	font-family: 'montserrat bold';
	src: url('/fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
	font-family: 'montserrat bolditalic';
	src: url('/fonts/Montserrat-BoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'montserrat medium';
	src: url('/fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
	font-family: 'montserrat mediumitalic';
	src: url('/fonts/Montserrat-MediumItalic.woff') format('woff');
}

body {
	background-color: #e7ebec;
	box-sizing: border-box;
	margin: 0;
}

#body__stories {
	background-color: #264e54;
}

header {
	display: grid;
	grid-template-columns: 0fr 0.5fr 0fr 1fr;
	padding-right: 4rem;
}

.logo__container {
	margin-left: 4rem;
	margin-top: 2rem;
}

.logo {
	width: 5rem;
}

#hamburger-menu {
	display: none;
}

#hamburger {
	display: none;
}

nav {
	position: relative;
	z-index: 100;
	display: inline-block;
	justify-content: right;
}

.header__nav {
	justify-self: right;
}

nav li {
	display: inline-block;
	margin: 1.5rem;
}

a {
	font-family: 'montserrat regular', Verdana, Geneva, Tahoma, sans-serif;
	color: #25283d;
	text-decoration: none;
}

a:hover {
	color: #e05200;
	font-weight: bold;
}

.skip a {
	font-weight: bold;
	font-size: 1.2rem;
	position: absolute;
	margin-left: 1rem;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.skip a:focus {
	position: static;
	width: auto;
	height: auto;
}

.frontpage {
	display: grid;
	grid-template-columns: 1.5fr 2fr;
	grid-template-areas: 'intro carousel__section';
	grid-gap: 4rem;
	margin: 1% 5% 10% 5%;
}

.button__red {
	color: #fff;
	font-weight: bold;
	background-color: #cc3600;
	padding: 0.9rem 1.2rem 1rem 1.2rem;
	float: right;
}

.button__red:hover {
	color: #fff !important;
	font-weight: normal !important;
	background-color: #f14303;
}

h1 {
	font-size: 2.7rem;
	font-family: 'chivo light', 'Lucida Sans', 'Lucida Sans Regular',
		'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: lighter;
	color: #25283d;
}

h2 {
	font-family: 'chivo light', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 2rem;
	color: #25283d;
	font-weight: 300;
}

h3 {
	font-family: 'chivo regular', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #25283d;
	font-size: 1.2rem;
}

h4 {
	font-family: 'montserrat bolditalic', Verdana, Geneva, Tahoma, sans-serif;
	color: #25283d;
	font-size: 1.2rem;
}

p {
	font-family: 'montserrat regular', Verdana, Geneva, Tahoma, sans-serif;
}

footer {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: 'nav__footer write-for-us';
	background-color: #fff;
	padding: 1rem 0rem 1.3rem 0rem;
}

.nav__footer {
	justify-self: center;
}

.footer__p {
	display: inline-block;
	padding: 0.5rem;
	font-family: 'montserrat medium', Verdana, Geneva, Tahoma, sans-serif;
	margin-bottom: 0;
	border-bottom: solid 1px #25283d;
	text-align: center;
}

.footer__p2 {
	font-family: 'Montserrat italic', Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.8rem;
}

#body__stories .footer__p {
	color: #fff;
	border-bottom: solid 1px #fff;
}

#body__stories .footer__p2 {
	color: #fff;
}

/* Front page */

.h1__frontpage {
	font-family: 'chivo lightitalic', 'Lucida Sans', 'Lucida Sans Regular',
		'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 3.5rem;
}

.intro h2 {
	font-family: 'montserrat regular', Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.5rem;
}

/* Carousel on frontpage  */

#carousel__section {
	position: relative;
}

.carousel-container {
	position: relative;
	width: 100%;
	height: 35rem;
	margin: 0 auto;
}

.carousel__slide-container {
	position: relative;
	background-color: #264e54;
}

.carousel__slider {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

.carousel__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.carousel__title {
	font-family: 'chivo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: white;
	background-color: #264e54;
	padding: 0.5rem;
}

.carousel__title h2 {
	text-align: center;
}

#prev,
#next {
	cursor: pointer;
	position: absolute;
	top: 60%;
	z-index: 100;
	background: #cc3600;
	border: transparent;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	padding: 0.8rem;
}

#prev img,
#next img {
	width: 80%;
}

#prev img:hover,
#next img:hover {
	width: 100%;
}

#prev {
	left: 1rem;
}

#next {
	right: 1rem;
}

/* Stories */

#body__stories {
	background-color: #264e54;
}

.stories__page,
.contact-form {
	margin: 1% 5% 10% 5%;
}

.load-more {
	cursor: pointer;
	font-size: 1.5rem;
	float: right;
}

.load-more {
	text-align: right;
}

.load {
	margin-top: 1rem;
}

.about,
.team {
	width: 60%;
	margin: auto;
}

.post {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
}

.post__card {
	height: 96%;
}

.loader {
	border: 6px solid #e7ebec;
	border-top: 6px solid #264e54;
	border-right: 6px solid #264e54;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: auto;
	animation: spin 1.2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.featured__image {
	width: 100%;
}

.post__card {
	background-color: #e7ebec;
	padding: 0.5rem;
}

#body__stories h1,
#body__stories a {
	color: #e7ebec;
}

#body__stories a:hover {
	color: #f7a271;
}

#body__stories footer {
	background-color: #2c6068;
}

.title {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.previous,
.next {
	cursor: pointer;
	margin-top: 1rem;
}

.previous {
	float: left;
}

.next {
	float: right;
}

/* Individual story page */

.story-content {
	margin: auto;
	width: 50%;
	margin-top: 2rem;
	margin-bottom: 6rem;
}

.story-content h4 {
	background-image: url('/images/quote-mark.png');
	background-repeat: no-repeat;
	background-size: 3%;
	padding-left: 3rem;
}

.story-content img {
	width: 100%;
	height: auto;
}

.story__image {
	margin-top: 2rem;
	text-align: center;
}

.story__image img {
	text-align: center;
	width: 50%;
	overflow: hidden;
}

.story__title {
	font-family: 'chivo bold', 'Lucida Sans', 'Lucida Sans Regular',
		'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 3.5rem;
}

/* Image modal */

.modal {
	display: none;
	position: absolute;
	z-index: 100;
	width: 65%;
	left: 15%;
	overflow: auto;
	background-color: white;
	padding: 2rem;
}

.modal__image {
	width: 100%;
	margin: auto;
}

.close {
	position: absolute;
	left: 90%;
	top: 2.7rem;
	background-color: #e7ebec;
	padding: 0.5rem;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

.close:hover {
	cursor: pointer;
	background-color: #c9cfd1;
}

.close img {
	width: 100%;
}

/* About */

.team {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	margin-bottom: 4rem;
}

.team-image {
	width: 100%;
}

.team-card {
	background-color: #264e54;
	padding: 0.5rem;
}

.name {
	color: #e7ebec;
	margin-left: 1rem;
	font-size: 2rem;
}

/* Contact page */

.contact-form {
	width: 40%;
	margin: auto;
	padding-bottom: 4rem;
}

.form-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'form-field';
	grid-gap: 2rem;
}

label {
	font-family: 'chivo light', 'Lucida Sans', 'Lucida Sans Regular',
		'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.5rem;
}

input,
textarea {
	border: 1px solid #264e54;
}

#firstName,
#email {
	width: 80%;
	height: 1.3rem;
}

#subject {
	width: 40%;
	height: 1.3rem;
}

#message {
	width: 40%;
	height: 6rem;
}

#submit {
	color: #fff;
	font-weight: bold;
	background-color: #264e54;
	padding: 0.9rem 1.2rem 1rem 1.2rem;
	border: none;
	margin-top: 2rem;
}

#submit:hover {
	cursor: pointer;
	background-color: #3f686e;
}

.form-field {
	margin-top: 1.5rem;
}

.form-comment {
	font-family: 'montserrat italic', Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.9rem;
	margin-top: 0;
}

.form-error {
	display: none;
	font-family: 'montserrat regular', Verdana, Geneva, Tahoma, sans-serif;
	color: #e05200;
	margin-top: 0.5rem;
}

/* Mobile view */

@media only screen and (max-width: 700px) {
	header {
		grid-template-columns: 0fr 1fr 0.2fr;
		padding-top: 2rem;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-bottom: 2rem;
	}

	.logo__container {
		margin: 0;
	}

	#hamburger {
		display: block;
		width: 100%;
	}

	.header__nav {
		display: none;
	}

	#hamburger-menu:checked ~ .header__nav {
		display: block;
		justify-self: center;
		width: 50%;
		margin-right: 4rem;
		margin: auto;
	}

	.header__nav li {
		margin-bottom: 0;
		text-align: right;
	}
}

@media only screen and (max-width: 600px) {
	.frontpage {
		grid-template-columns: 1fr;
		grid-template-areas: 'intro' 'carousel__section';
	}

	.h1__frontpage {
		font-size: 2.5rem;
	}

	.carousel-container {
		height: 30rem;
	}

	.carousel__title {
		font-size: 1.5rem;
	}

	.about {
		width: 90%;
	}

	.team {
		grid-template-columns: 1fr;
		width: 90%;
	}

	.post {
		grid-template-columns: 1fr;
	}

	.story__image img {
		width: 90%;
	}

	.story-content h4 {
		background-size: 5%;
	}

	.story-content {
		width: 90%;
	}

	.modal {
		width: fit-content;
		left: 0;
	}

	.contact-form {
		width: 90%;
	}

	.form-grid {
		grid-template-columns: 1fr;
	}

	#subject,
	#message {
		width: 80%;
	}

	footer {
		grid-template-columns: 1fr;
		grid-template-areas: 'nav__footer' 'write-for-us';
	}

	.nav__footer {
		text-align: center;
	}

	.write-for-us {
		text-align: center;
	}

	footer li {
		margin-bottom: 0rem;
		display: block;
	}
}
